.container-calendar-result{
  position: relative;
}

// .calendar{

// }

.calendar-overlay{
  background-color: #F2FAFD;
  height: 245px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 55px;

  display: flex;
  // align-content: center;
  justify-content: center;
  align-items: center;
}
.calendar-overlay-msg{

}

.calendar-overlay-img {
  width: 48px;
}

.calendar-overlay-bg {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.day-slots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 100%;
  border-radius: 5px;
  transition: background-color 200ms,color 200ms;
}

.fill {
  font-weight: 700;
  background-color: #d4f4fe;
  &:hover {
    background-color: #fadb4b;
  }
}