#nav-logo {
  width: 95px;
  height: 50px;
  background-image: url('https://www.doctolib.fr/webpack/b69a8f22b5bf7fa8d5db451c48389a50.svg');
  background-repeat: no-repeat;
  background-size: 95px auto;
  background-position: center;
}

#nav-rdv {
  opacity: 0.7;
  font-weight: bold;
  font-size: 0.750em;
  line-height: 12px;
}

nav {
  ul {
    li {
      .btn.invert1:hover {
        color: #0362af;
      }
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
  }
}