.doctor-photo {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.doctor-name {
  color: #107aca;
  font-family: "Montserrat",arial,sans-serif;
  font-weight: 500;
  // font-size: 0.875em;
  font-size: 14px;
}

.doctor-role {
  color: #2b4660;
  font-weight: bold;
  // font-size: 0.875em;
  font-size: 14px;
  font-family: "Roboto",arial,sans-serif;
}

.doctor-convention {
  color: rgba(43,70,96,.6);
  font-weight: 400;
}

.video-bg{
  background-image: linear-gradient(135deg, #0362af, #2BAAD8);
  padding: 0 6px 1px 6px;
  border-radius: 25%;
  color: white;
}