#filter-bg {
  height: 50px;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(43, 70, 96, 0.2);

  & .btn{
    height: 50px;
    background-color: unset;
    border-left-color: #2b46603e;
    border-right-color: #2b46603e;
    border-radius: 0;
  }
}

.filter-title {
  color: rgba(43,70,96,.4);
  font-weight: bold;
}

.dropdown-toggle.btn.btn-light {
  font-size: 14px;
}

.dropdown-menu.show {
  padding: 0;
  border-radius: 8px;
  // margin-top: 10px;
  min-width: 225px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  border: 1px solid #eef2f7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item:not(.dropdown-item:last-child) {
  border-bottom: 2px solid #D9DEE3;
}