@import "~bootstrap/scss/bootstrap";
@import "./components/navbar";
@import "./components/searchbar";
@import "./components/searchfilter";
@import "./components/searchresult";
@import "./components/presentation";
@import "./components/calendar";

body {
  font-family: "Roboto",arial,sans-serif;
  font-size: 0.875em;
  background-color: #eef2f7;
}

.primary-bg {
  background-color: #107aca;
}

.invert1 {
  font-weight: bold;
  background-color: white;
  color: #107aca;
  font-size: 0.875em;
}

.invert2 {
  background-color: #107aca;
  color: white;
  &:hover {
    background-color: #0362af;
    color: white;
  }
}

.f-upper:first-letter {
    text-transform:capitalize;
}

.input-group-larger > .input-group-text ,
.input-group-larger > .btn
{
  padding: 1rem 1rem;
  font-size: 1.25rem;
}